@model Golfers_Friends

<h4>Challenge   To a round of 18 </h4>
<hr />


<form asp-action="ChallengeCreate">

    <input type="submit" value="create" class="btn btn-success" /> |
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</form> |