@model GolferDetails


<div class="frame">
    <div>

        <div>
            <h3>@Model.FirstName</h3>
            <hr />
            <h3>@Model.LastName</h3>
            <hr />
            <h3> Handicap:@Model.Handicap</h3>
            <hr />
            <h3> Location: @Model.Location</h3>
            <hr />
        </div>
    </div>
</div>
