<link href=".//css/home.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Golf With Friends!</h1>
</div>
@*<div class="golfImg">
    <img src="assets/istockphoto-465611306-612x612.jpg" alt"golf />
</div>*@


